*.deps
*.la
*.lo
*.o
*.sw*
*.so
*.pc
*.in
!*.pc.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
*/*/*/protocol/*.c
*/*/*/protocol/*.h
Makefile
stamp-h1

doctor
drm-backend
wayland-backend
x11-backend
simple-touch
simple-shm
fbdev-backend

.vim.custom
gbs.conf
